* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* full form  */
.login-box {
  width: 80%;
  max-width: 370px;
  border: 1px solid rgba(116, 116, 116, 0.76);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 0.75rem;
  padding: 15px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* for logo image  */
.login-box img {
  width: 30%;
  height: auto;
  margin: 20px auto;
  display: block;
}
/* for input field  */
.login-box input {
  width: 85%;
  height: 40px;
  margin: 12px auto;
  display: block;
  border: 1px solid rgba(116, 116, 116, 0.76);
  border-radius: 0.75rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  padding-left: 15px;
}
/* for input outline  */
.login-box input:focus {
  outline: none;
}
/* for button  */
#submit-btn {
  width: auto;
  padding: 0 30px;
  background-color: #5271ff;
  border-radius: 0.75rem;
  border: 1px solid transparent;
  color: #ffff;
  font-family: "inter var";
  font-size: 1.125rem;
  font-weight: 600;
  height: 50px;
  transition: 0.15s;
  float: right;
  margin: 15px 26px 12px 0;
}
/* submit page  */
.submit_div {
  height: 250px;
  width: 80%;
  max-width: 300px;
  border: 1px solid rgba(116, 116, 116, 0.76);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 0.75rem;
  padding: 10px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.submit_div i {
  font-size: 40px;
  padding-top: 50px;
  color: #5271ff;
}
.submit_div .link {
  color: #5271ff;
}
